<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Makale Oluştur</h5></div>
            <div class="card-body">
                <form [formGroup]="articleAddForm">
                    <div class="mb-3">
                        <label for="ArticleTitle">Makale Başlığı</label>
                        <div class="form-group">
                            <input type="text" 
                            id="productName" 
                            formControlName="productName" class="form-control" 
                            placeholder="Makale Başlığı"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="ArticleSummary">Makale Özeti</label>
                        <div class="form-group">
                            <input type="text" 
                            id="articleSummary" 
                            formControlName="productName" class="form-control" 
                            placeholder="Makale Başlığı"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="articleContent">Makale İçeriği</label>
                        <div class="form-group">
                            <input type="text" 
                            id="articleContent" 
                            formControlName="productName" class="form-control" 
                            placeholder="Makale Başlığı"/>
                        </div>
                    </div>
                   
                    <div class="dropdown">

                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Kategori Seçiniz
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                   
                    
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Yayınla</button>
            </div>
        </div>
        
    </div>
    
</div>
